@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("../fonts/RobotoSlab-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "github";
  src: url("../fonts/github-1.eot#iefix") format("embedded-opentype"), url("../fonts/github-1.ttf"), url("../fonts/github-1.eot");
}
.activeCategory-Fruits .docs-template .docs-template-topics,
.activeCategory-Fruits .docs-template .title-bar {
  background-color: #ffe6c1;
}
.activeCategory-Fruits .docs-template .docs-template-contentArea {
  border-top: 0.3rem solid #f49200;
}
.activeCategory-Fruits .docs-template .title-bar {
  border-bottom: 0.3rem solid #f49200;
}
.activeCategory-Veggies .docs-template .docs-template-topics,
.activeCategory-Veggies .docs-template .title-bar {
  background-color: #cfe4ff;
}
.activeCategory-Veggies .docs-template .docs-template-contentArea {
  border-top: 0.3rem solid #0371ff;
}
.activeCategory-Veggies .docs-template .title-bar {
  border-bottom: 0.3rem solid #0371ff;
}
.activeCategory-Desserts .docs-template .docs-template-topics,
.activeCategory-Desserts .docs-template .title-bar {
  background-color: #96c786;
}
.activeCategory-Desserts .docs-template .docs-template-contentArea {
  border-top: 0.3rem solid #345829;
}
.activeCategory-Desserts .docs-template .title-bar {
  border-bottom: 0.3rem solid #345829;
}
html body {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: "OpenSans-Light", Arial, Helvetica;
}
.docs-template {
  background-color: #fff;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
.docs-template pre {
  white-space: pre-wrap;
}
.docs-template td {
  border: 0.5rem solid #e7e7e7;
  vertical-align: top;
}
.docs-template-contentArea a:hover {
  transition: backgroundColour 0.15s, background 0.15s, color 0.15s;
}
/* override foundation, so UIO's line-spacing will work */
.docs-template h1,
.docs-template h2,
.docs-template h3,
.docs-template h4,
.docs-template h5,
.docs-template h6,
.docs-template p,
.docs-template dl,
.docs-template table tbody tr td,
.docs-template table tr td,
.docs-template ul {
  line-height: inherit;
}
.fl-prefsEditor-buttons button:focus,
.docs-template a:focus {
  outline: 0.2rem solid #0000cb;
  text-decoration: none;
}
/* Skip links */
#skip {
  float: left;
  height: 0rem;
}
#skip a {
  color: #00444d;
  background: #c5e0c5;
}
#skip a,
#skip a:hover,
#skip a:visited {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
  color: #c5e0c5;
  background: #00444d;
}
#skip a:active,
#skip a:focus {
  height: auto;
  width: auto;
  left: auto;
  border: 0.5rem solid #c5e0c5;
  outline: 0.2rem solid #00444d;
  color: #c5e0c5;
  background: #00444d;
  padding: 1rem;
  z-index: 1;
}
header,
footer {
  padding: 0;
  background-color: #f1ffec;
  color: #000;
  font-family: "OpenSans-Light", Arial, Helvetica;
}
header a,
footer a {
  color: #00444d;
}
header a:focus,
footer a:focus {
  outline: 0.2rem solid #00444d;
  color: #00444d;
}
header a:hover,
footer a:hover {
  color: #fff;
  background: #00444d;
}
header {
  background-color: #f1ffec;
}
header a {
  text-decoration: none;
  width: 100%;
  display: inline-block;
}
header h1 {
  color: inherit;
  font-size: 1.4rem;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}
header nav li {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  flex-grow: 1;
  padding-bottom: 0;
}
header nav a,
header nav span {
  min-width: 10rem;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  display: flex;
  align-items: center;
  padding: 0.3rem 1rem;
  height: 100%;
}
header nav a:hover {
  transform: translateY(-0.4rem);
  color: #f1ffec;
}
header nav a:focus:hover {
  border-radius: 0;
  color: #f1ffec;
}
header nav .docs-template-category-active {
  font-weight: bold;
}
header nav .docs-template-category-active:hover.docs-template-category-active span {
  color: #000;
}
header nav li:nth-of-type(1) a,
header nav li:nth-of-type(1) span {
  background-color: #ffe6c1;
  border: 0.2rem solid #ffe6c1;
}
header nav li:nth-of-type(1) a:hover {
  background-color: #00444d;
  border-color: #00444d;
}
header nav li:nth-of-type(1).docs-template-category-active span {
  border-color: #f49200;
  border-bottom: none;
}
header nav li:nth-of-type(2) a,
header nav li:nth-of-type(2) span {
  background-color: #cfe4ff;
  border: 0.2rem solid #cfe4ff;
}
header nav li:nth-of-type(2) a:hover {
  background-color: #00444d;
  border-color: #00444d;
}
header nav li:nth-of-type(2).docs-template-category-active span {
  border-color: #0371ff;
  border-bottom: none;
}
header nav li:nth-of-type(3) a,
header nav li:nth-of-type(3) span {
  background-color: #96c786;
  border: 0.2rem solid #96c786;
}
header nav li:nth-of-type(3) a:hover {
  background-color: #00444d;
  border-color: #00444d;
}
header nav li:nth-of-type(3).docs-template-category-active span {
  border-color: #345829;
  border-bottom: none;
}
footer {
  padding: 2rem 0;
  font-size: 1.1rem;
  text-align: center;
}
footer p {
  margin-bottom: 0;
}
.docs-template-logo {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0.2rem;
  margin-top: 0.3rem;
  background: #f1ffec;
  padding: 0.3rem;
  color: #00444d;
  display: inline-block;
}
.docs-template-logo:hover {
  background: #00444d;
  color: #fff;
}
.docs-template-logo:focus {
  outline: 0.2rem solid #00444d;
}
.docs-template-logo h1 {
  display: inline-block;
  margin: 0;
}
/* Main body area - contains sidebar and article, excludes header and footer */
.docs-template-contentArea {
  color: #000;
  background: #fff;
}
.docs-template-contentArea * {
  font-size: 1.2rem;
}
.docs-template-contentArea h1,
.docs-template-contentArea h2,
.docs-template-contentArea h3 {
  font-family: "RobotoSlab";
}
.docs-template-contentArea h1 {
  margin-top: 1.5rem;
  font-size: 2rem;
}
.docs-template-contentArea h2 {
  font-size: 1.5rem;
}
.docs-template-contentArea h3 {
  font-size: 1.2rem;
}
.docs-template-contentArea ul,
.docs-template-contentArea ol {
  margin: 0 2.5rem;
}
.docs-template-contentArea li {
  margin: 0.4rem 0;
}
.docs-template-contentArea a {
  color: #0000cb;
  text-decoration: underline;
  transition: backgroundColour 0.15s, background 0.15s, color 0.15s;
  display: inline-block;
}
.docs-template-contentArea a:hover {
  color: #fff;
  background: #0000cb;
}
.docs-template-contentArea pre code {
  font-weight: normal;
  border: 0.1rem dotted #ddd;
  border-radius: 0.2rem;
  padding: 0.8rem;
  margin-bottom: 1rem;
}
.docs-template-contentArea code {
  font-weight: normal;
  color: #000;
  background-color: #efefef;
  font-size: inherit;
}
.docs-template-contentArea code a,
.docs-template-contentArea a code {
  font-size: inherit;
  border-bottom: 0.1rem dotted #0000cb;
  color: #0000cb;
  background: 0;
}
.docs-template-contentArea .docs-template-contentArea > p:first-child {
  font-size: 1.4rem;
}
/* Main Content Area */
.docs-template-note {
  border-left: solid;
  border-left-width: 0.3rem;
  border-color: #000;
  padding-left: 0.4rem;
  font-style: italic;
  margin-bottom: 2rem;
}
.docs-template-githubLink {
  margin-top: 2rem;
}
.docs-template-githubLink a:before {
  display: inline-block;
  vertical-align: bottom;
  font-family: "github";
  content: "\e600";
  font-size: 1.3rem;
  padding-right: 0.5rem;
}
.docs-template-contentArea figure {
  background: #efefef;
  text-align: center;
}
.docs-template-contentArea figure em {
  font-weight: bold;
}
.docs-template-contentArea figure figcaption,
.docs-template-contentArea figure img {
  padding: 1rem;
}
.docs-template-contentArea figure figcaption {
  border-top: 0.2rem solid #fff;
}
.docs-template-contentArea figure figcaption a {
  outline: initial;
  color: #0000cb;
  background: link-background;
  display: inline;
}
.docs-template-contentArea figure figcaption a:hover {
  color: #fff;
  background: #0000cb;
}
.docs-template-contentArea figure img {
  margin: 0;
}
.docs-template-contentArea figure a {
  display: block;
}
.docs-template-contentArea figure a:hover {
  background: #efefef;
  outline: 0.2rem solid #0000cb;
}
.docs-template-404 .docs-template-contentArea {
  width: 100%;
  max-width: none;
  min-height: 30rem;
}
/* Topics list */
.docs-template .top-bar {
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
  background-color: none;
}
.docs-template .top-bar ul {
  background: none;
}
.docs-template .title-bar {
  background-color: #efefef;
  color: #000;
}
.docs-template .row {
  margin-left: auto;
  margin-right: auto;
}
.docs-template-topics {
  width: 100%;
  display: none;
  background-color: #efefef;
}
.docs-template-topics ul {
  list-style-type: none;
  margin-left: 0;
}
.docs-template-topics li {
  padding: 0.2rem 0;
  margin: 0.2rem 0;
}
.docs-template-topics .docs-template-topics-active:before {
  content: "\2590";
  display: inline-block;
  margin-right: 0.2rem;
}
.docs-template-topics a {
  display: inline-block;
  color: #000;
  font-size: 1rem;
}
.docs-template-topics a:hover {
  background: #000;
  text-decoration: none;
  color: #fff;
}
.docs-template-topics a:focus {
  outline: 0.2rem solid #000;
}
.docs-template-topics .docs-template-topics-active {
  color: #000;
  background: #efefef;
  display: inline-block;
  font-size: 1rem;
}
.docs-template-topics .docs-template-category {
  font-family: 'OpenSans-Bold';
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.6rem;
  word-wrap: break-word;
}
.docs-template-topics .docs-template-sectionName {
  margin: 0;
}
.docs-template-topics-item {
  padding: 0.2rem;
  border: none;
  color: #000;
  display: inline-block;
  width: 100%;
  text-decoration: inherit;
}
.docs-template-topics-button:hover {
  color: #efefef;
  background-color: #000;
}
.docs-template-topics-button:hover.docs-template-topics-button:before {
  color: #efefef;
}
.docs-template-topics-button:focus {
  outline: 0.2rem solid #000;
}
.docs-template-topics-button {
  width: 100%;
  height: auto;
  line-height: 2rem;
  text-align: left;
}
.docs-template-topics-button:after {
  display: none;
  visibility: hidden;
}
.docs-template-topics-button:before {
  content: "\2630";
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  color: #000;
  box-shadow: none;
  background-color: transparent;
}
/* Infusion UIO */
.fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide {
  min-width: 7rem;
}
.fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons {
  margin-right: 2rem;
}
.fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide,
.fl-prefsEditor-separatedPanel .fl-prefsEditor-reset {
  font-size: 1.1rem;
  padding-top: 0.5rem;
  height: 2rem;
  margin-bottom: 0.7rem;
}
.docs-template-uio-toc {
  background: uio-toc-background;
}
.docs-template-uio-toc ul {
  list-style-type: none;
}
.docs-template-uio-toc li {
  margin: 0.8rem 0;
}
.docs-template.fl-text-larger .fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide,
.docs-template.fl-text-larger .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset {
  height: 2.5rem;
}
.docs-template.fl-text-larger .fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide {
  min-width: 13rem;
}
/* Styles for high-contrast themes */
.fl-theme-bw a:hover .docs-template-topics-item,
.fl-theme-wb a:hover .docs-template-topics-item,
.fl-theme-by a:hover .docs-template-topics-item,
.fl-theme-yb a:hover .docs-template-topics-item,
.fl-theme-lgdg a:hover .docs-template-topics-item {
  outline: none !important;
}
.fl-theme-bw a:hover,
.fl-theme-bw a:hover code,
.fl-theme-bw a:hover .docs-template-topics-item {
  background-color: #000 !important;
  color: #fff !important;
}
.fl-theme-bw a,
.fl-theme-bw a:hover {
  transition: none;
}
.fl-theme-bw a:focus {
  outline: 0.2rem solid #000 !important;
}
.fl-theme-bw .fl-inverted-color a:hover,
.fl-theme-bw .fl-inverted-color a:hover *,
.fl-theme-bw .fl-inverted-color nav li span {
  background: #fff !important;
  color: #000 !important;
}
.fl-theme-bw .fl-inverted-color nav li a {
  border-bottom: none;
}
.fl-theme-bw .fl-inverted-color nav li a:hover {
  border: none;
}
.fl-theme-bw figure a:hover {
  outline: none !important;
}
.fl-theme-bw figure a:hover img {
  background-color: #000 !important;
}
.fl-theme-bw .docs-template-topics-button:before {
  color: #000 !important;
}
.fl-theme-bw .docs-template-contentArea {
  border-top-color: #fff !important;
}
.fl-theme-by a:hover,
.fl-theme-by a:hover code,
.fl-theme-by a:hover .docs-template-topics-item {
  background-color: #000 !important;
  color: #ff0 !important;
}
.fl-theme-by a,
.fl-theme-by a:hover {
  transition: none;
}
.fl-theme-by a:focus {
  outline: 0.2rem solid #000 !important;
}
.fl-theme-by .fl-inverted-color a:hover,
.fl-theme-by .fl-inverted-color a:hover *,
.fl-theme-by .fl-inverted-color nav li span {
  background: #ff0 !important;
  color: #000 !important;
}
.fl-theme-by .fl-inverted-color nav li a {
  border-bottom: none;
}
.fl-theme-by .fl-inverted-color nav li a:hover {
  border: none;
}
.fl-theme-by figure a:hover {
  outline: none !important;
}
.fl-theme-by figure a:hover img {
  background-color: #000 !important;
}
.fl-theme-by .docs-template-topics-button:before {
  color: #000 !important;
}
.fl-theme-by .docs-template-contentArea {
  border-top-color: #ff0 !important;
}
.fl-theme-wb a:hover,
.fl-theme-wb a:hover code,
.fl-theme-wb a:hover .docs-template-topics-item {
  background-color: #fff !important;
  color: #000 !important;
}
.fl-theme-wb a,
.fl-theme-wb a:hover {
  transition: none;
}
.fl-theme-wb a:focus {
  outline: 0.2rem solid #fff !important;
}
.fl-theme-wb .fl-inverted-color a:hover,
.fl-theme-wb .fl-inverted-color a:hover *,
.fl-theme-wb .fl-inverted-color nav li span {
  background: #000 !important;
  color: #fff !important;
}
.fl-theme-wb .fl-inverted-color nav li a {
  border-bottom: none;
}
.fl-theme-wb .fl-inverted-color nav li a:hover {
  border: none;
}
.fl-theme-wb figure a:hover {
  outline: none !important;
}
.fl-theme-wb figure a:hover img {
  background-color: #fff !important;
}
.fl-theme-wb .docs-template-topics-button:before {
  color: #fff !important;
}
.fl-theme-wb .docs-template-contentArea {
  border-top-color: #000 !important;
}
.fl-theme-yb a:hover,
.fl-theme-yb a:hover code,
.fl-theme-yb a:hover .docs-template-topics-item {
  background-color: #ff0 !important;
  color: #000 !important;
}
.fl-theme-yb a,
.fl-theme-yb a:hover {
  transition: none;
}
.fl-theme-yb a:focus {
  outline: 0.2rem solid #ff0 !important;
}
.fl-theme-yb .fl-inverted-color a:hover,
.fl-theme-yb .fl-inverted-color a:hover *,
.fl-theme-yb .fl-inverted-color nav li span {
  background: #000 !important;
  color: #ff0 !important;
}
.fl-theme-yb .fl-inverted-color nav li a {
  border-bottom: none;
}
.fl-theme-yb .fl-inverted-color nav li a:hover {
  border: none;
}
.fl-theme-yb figure a:hover {
  outline: none !important;
}
.fl-theme-yb figure a:hover img {
  background-color: #ff0 !important;
}
.fl-theme-yb .docs-template-topics-button:before {
  color: #ff0 !important;
}
.fl-theme-yb .docs-template-contentArea {
  border-top-color: #000 !important;
}
.fl-theme-lgdg a:hover,
.fl-theme-lgdg a:hover code,
.fl-theme-lgdg a:hover .docs-template-topics-item {
  background-color: #bdbdbb !important;
  color: #555 !important;
}
.fl-theme-lgdg a,
.fl-theme-lgdg a:hover {
  transition: none;
}
.fl-theme-lgdg a:focus {
  outline: 0.2rem solid #bdbdbb !important;
}
.fl-theme-lgdg .fl-inverted-color a:hover,
.fl-theme-lgdg .fl-inverted-color a:hover *,
.fl-theme-lgdg .fl-inverted-color nav li span {
  background: #555 !important;
  color: #bdbdbb !important;
}
.fl-theme-lgdg .fl-inverted-color nav li a {
  border-bottom: none;
}
.fl-theme-lgdg .fl-inverted-color nav li a:hover {
  border: none;
}
.fl-theme-lgdg figure a:hover {
  outline: none !important;
}
.fl-theme-lgdg figure a:hover img {
  background-color: #bdbdbb !important;
}
.fl-theme-lgdg .docs-template-topics-button:before {
  color: #bdbdbb !important;
}
.fl-theme-lgdg .docs-template-contentArea {
  border-top-color: #555 !important;
}
@media only screen and (min-width: 40em) {
  .docs-template-contentArea h1 {
    font-size: 3rem;
  }
  .docs-template-contentArea h2 {
    font-size: 2.5rem;
  }
  .docs-template-contentArea h3 {
    font-size: 1.5rem;
  }
  .docs-template-logo:before,
  .docs-template .docs-template-header h1 {
    font-size: 2rem;
  }
  .docs-template {
    border-left: 0.1rem solid #ccc;
    border-right: 0.1rem solid #ccc;
  }
  .docs-template-contentArea h1 {
    line-height: 3rem;
    margin-top: 0;
  }
  .docs-template article,
  .docs-template-contentArea nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
  }
}
