/* General styling */
/* Main Content Area */
/* Header and Footer */
/* Skip Links */
/* Table of Contents Sidebar */
/* Article Body area */
/* Code Blocks */
/* Tables */
/* UIO Table of Contents */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("../fonts/RobotoSlab-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "github";
  src: url("../fonts/github-1.eot#iefix") format("embedded-opentype"), url("../fonts/github-1.ttf"), url("../fonts/github-1.eot");
}
